* {
    margin: 0;
    padding: 0;
    border: border-box;
    font-size: 20px;
}

body {
    height: 100vh;
    /* background: linear-gradient(45deg, #49a09d, #5f2c82); */
    background-color: rgb(29, 47, 63);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 40px;
    border: 3px solid black;
    border-radius: 10px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
}

.logo img {
    height: 60px;
}

.menu a {
    position: relative;
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    margin-left: 30px;
    margin-right: 20px;
    padding: 5px 0;
    font-family: Arial, Helvetica, sans-serif;
}

.menu a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: #0e6d32;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.menu a:hover::after {
    width: 100%;
}



.menu {
    margin-right: 50px;
}

#banner {

    background-image: url(./assets/banner.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
}

#banner h1 {
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-size: 30px;
    text-shadow: 8px 5px 10px #727171;
}


#body {
    background-color: white;
    margin: 5px;
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px;
}

#section {
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
    padding: 20px;
}

.what {
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 50px;
    margin: 20px;
}

#column {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}

#ab {

    padding: 10px;
    width: 200px;
    height: 200px;
    background-color: #FFFFFF;
    border: 2px solid black;
    box-shadow: 5px 5px 10px #888888;
    background-image: url(./assets/wel1.png);
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: center 30px;
    border-radius: 50px;
    padding-top: 20px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: rgb(53, 51, 51);
}
#ab:hover{
border: 5px solid black;
border-radius: 30px;
border-style: groove;
    box-shadow: 5px 5px 10px #133552;
cursor: pointer;

}

#abc {

    padding: 10px;
    width: 200px;
    height: 200px;
    background-color: ffffff;
    border: 2px solid black;
    box-shadow: 5px 5px 10px #888888;
    background-image: url(./assets/wel2.jpg);
    background-repeat: no-repeat;
    background-size: 210px;
    background-position: top center;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    align-items: flex-end;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: rgb(53, 51, 51);
}
#abc:hover{
border: 5px solid black;
border-radius: 30px;
border-style: groove;
    box-shadow: 5px 5px 10px #133552;
cursor: pointer;

}
#abcd {

    padding: 10px;
    width: 200px;
    height: 200px;
    background-color: #FFFFFF;
    border: 2px solid black;
    box-shadow: 5px 5px 10px #888888;
    background-image: url(./assets/wel3.png);
    background-repeat: no-repeat;
    background-size: 210px;
    background-position: top center;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: rgb(53, 51, 51);
}
#abcd:hover{
border: 5px solid black;
border-radius: 30px;
border-style: groove;
    box-shadow: 5px 5px 10px #133552;
cursor: pointer;

}
#abcde {

    padding: 10px;
    width: 200px;
    height: 200px;
    background-color: #FFFFFF;
    border: 2px solid black;
    box-shadow: 5px 5px 10px #888888;
    background-repeat: no-repeat;
    background-image: url(./assets/wel4.png);
    background-size: 200px;
    background-position: top center;
    border-radius: 50px;
    display: flex;
    padding-top: 20px;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: rgb(53, 51, 51);

}
#abcde:hover{
border: 5px solid black;
border-radius: 30px;
border-style: groove;
    box-shadow: 5px 5px 10px #133552;
cursor: pointer;
}
footer p {
    text-align: center;
    padding: 50px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}